// Importing variables
@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.testimonials-slider {
    position: relative;
}

input[name="carousel"] {
    display: none;
}

.carousel-slides {
    width: 100%;
    overflow: hidden;
}

#carousel-1:checked ~ .carousel-slides .carousel-inner {
    margin-left: 0%;
}

.carousel-slides .carousel-inner {
    width: 500%;
    transition: margin 0.5s;
}

.carousel-slides .carousel-item {
    float: left;
    width: 20%;
}

.testimonial-block {
    margin-bottom: 2rem;
}

.carousel-nav {
    margin: 0.25rem 0 3rem;
    text-align: center;
    z-index: 1;
}

.carousel-nav label {
    display: inline-block;
    margin: 0 6px;
    width: 15px;
    height: 15px;
    border: 2px solid #E6ECF8;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.25s;
}

#carousel-1:checked ~ .carousel-nav label[for="carousel-1"] {
    background-color: $primary;
    border: 2px solid $primary;
}

.testimonial-block .quote {
    margin: 0 auto 2.5rem;
}

.testimonial-block img.avatar {
    margin: 2.5rem auto 2rem;
    height: auto;
    border-radius: 100px;
}


.box .content figure.image img.is-issue-icon {
    height: 64px;
    width: auto;
}

.issue-feed {
    padding-bottom: 9rem;
    margin-top: -14rem;
}

.is-long-ish {
    padding-bottom: 9rem;
}

.backers-icons a.button {
    color: #fff;
    border-radius: 100%;
    margin: 0 .2rem;
    height: 47px;
    width: 47px;
    border: 2px solid rgba(255,255,255,0.3);
}

.social-icons a.button .icon.is-small {
    height: 1.4em;
    width: 1.4em;
}

.hero .title {
    font-family: 'Open Sans', sans-serif;
}

.is-white .title {
    color: #4e4e53;
    font-weight: 400;
}

.is-form-page .container {
    .avatar {
      width: 84px;
      margin: 2rem 0;
      z-index: 10;
    }
    .form-page {
      max-width: 640px;
      margin: 32px auto 0;
      label.label {
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2rem;
        color: rgba(41, 51, 71, 0.65);
      }
      input.is-large, textarea.is-large, select.is-large {
        font-size: 1.4rem;
      }
      input, textarea, select {
        border-color: #E6ECF8;
        color: #293347;
        box-shadow: none;
        font-weight: 300;
      }
      button {
        margin: 20px 0 0;
        border-width: 2px;
        font-weight: 400;
        height: auto;
      }
    }
    padding: 0 20px;
  }

.select:not(.is-multiple):not(.is-loading)::after {
    top: 50%;
    border-color: $secondary;
}

@media screen and (min-width: 769px), print {
    .column.is-one-third, .column.is-one-third-tablet {
        flex: none;
        width: 33.3333%;
    }
}

@media screen and (min-width: 769px){
    .section.call-to-action .box {
        padding: 3.5rem 1.25rem;
    }
}

.section.call-to-action .box {
    padding: 3.5rem 2rem;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px hsla(277, 83%, 95%, 1)
}
.section.call-to-action .box.is-primary{
    background-color: $primary;
    color: #fff;
}

.section.call-to-action .box.is-primary .title{
    color: #fff;
}

.section.call-to-action .title, .section.call-to-action p{
    color: $primary;
    margin-bottom: 0;
}

.contribute-timeline{
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width: 769px){
    .is-form-page .container .form-page {
        margin: 60px auto 0;
    }
}

/*! _pageloader.scss | Bulkit | CSS Ninja */

/* ==========================================================================
Pageloader styles
========================================================================== */

//Wrapper
.pageloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $primary;
    z-index: 999998;
    transition: -webkit-transform 0.35s ease-out;
    transition: transform 0.35s ease-out;
    transition: transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    will-change: transform;
    //Active state
    &.is-active {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    &::after, &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        border-radius: 100%;
        content: "";
        z-index: 999999;
    }

    &::after {
        margin-top: -100px;
        margin-left: -100px;
        width: 200px;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.5);
        border: 3px solid rgba(255, 255, 255, 0.75);
        -webkit-animation: page-loader-inner 1.5s infinite ease-out;
        animation: page-loader-inner 1.5s infinite ease-out;
    }

    &::before {
        margin-top: -30px;
        margin-left: -30px;
        width: 60px;
        height: 60px;
        background-color: #fff;
        -webkit-animation: page-loader-outer 1.5s infinite ease-in;
        animation: page-loader-outer 1.5s infinite ease-in;
    }
}
//loader Keyframes
@-webkit-keyframes page-loader-inner {
    0%,40% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes page-loader-inner {
    0%,40% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@-webkit-keyframes page-loader-outer {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100%,40% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes page-loader-outer {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100%,40% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
}

//Sits below pageloader
.infraloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $white;
    z-index: -1;
    opacity: 0;
    transition: opacity .35s;
    //Active state
    &.is-active {
        opacity: 1;
        z-index: 999997;
    }
}
